<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transportationexpenses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity
            android:name=".IcHistoryListActivity"
            android:label="@string/title_ic_history_list_activity">
        </activity>
        <activity
            android:name=".IcHistoryTableMakeActivity"
            android:label="@string/title_ic_history_table_make_activity">
        </activity>
        <activity
            android:name=".IcReadActivity"
            android:label="@string/title_ic_read_activity">
        </activity>
        <activity
            android:name=".IcReadHistoryListActivity"
            android:label="@string/title_ic_read_history_list_activity">
        </activity>
        <activity
            android:name=".IcHistoryListSaveActivity"
            android:label="@string/title_ic_history_list_save_activity">
        </activity>
    </application>

</manifest>